{% extends 'base.html' %}

{% block title %}Guardian link checker: Link errors{% endblock %}

{%block meta %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block content %}
<div class="fluid-wrap">
	<div class="fluid-row">
		<div class="col-12 heading-block">
			{% if error_links %}
			<aside class="error-count-message delta">({{error_links|length}} issues found)</aside>
			{% endif %}
			<h1 class="beta sans-serif">{{heading_text}}</h1>
			{% if today %}
			<p>All issues on this page seen in the last 24 hours</p>
			{% endif %}
		</div>
	</div>

	<div class="fluid-row margin-top">
		<div class="col-12">
				{% for link in error_links %}
				<section class="link-error">
					<p class="link-error-url sans-serif">{{link.link_url}}</p>

					<div class="link-error-detail">
						<p class="link-error-detail-message">{{link.error}}</p>
						{% if link.fix %}
						<p>{{link.fix|e}}</p>
						{% endif %}
						{% if link.fix_text %}
						<p>{{link.fix_text|e}}</p>
						{% endif %}
					</div>
					<p class="button-bar">
						<a class="link-error-detail-view-link button-style-link" href="{{link.link_url}}" target="_blank">View</a>
						<a class="link-error-detail-view-link button-style-link" href="{{link.edit_url}}" target="_blank">Edit</a>
					</p>

					{% if link.link_text %}
					<p class="link-error-link-text l-smaller">Anchor text: {{link.link_text}}</p>
					{% endif %}
					<p class="link-error-origin l-smaller">Source: <a href="{{link.origin_url}}">{{link.origin_url}}</a></p>
					<p class="link-error-when l-smaller">Checked: <time class="link-error-when-timestamp">{{link.last_checked_text}}</time></p>

					{% if link.modified_timestamp and link.published_timestamp %}
					<p class="link-timestamps l-smaller">Timestamps: publication: {{link.published_timestamp}}; modified: {{link.modified_timestamp}}</p>
					{% endif %}

					{% if link.commercial %}
					<p class="link-error-commercial-indicator l-smaller">Commercial content</p> 
					{% endif %}
				</section>
				{% else %}
				<p>No errors found, good work everyone!</p>
				{% endfor %}

		</div>

		</div>
	</div>
</div>

<script src="/static/js/moment-with-langs.min.js"></script>

<script>
	$(".link-error-when-timestamp").each( function(i, elem) {
		$elem = $(elem);
		console.log($elem.text());
		$elem.text(moment.utc($elem.text()).fromNow());
	});
</script>
{% endblock %}
